body {
  padding-top: 56px;
  background-image: linear-gradient(
      rgba(47, 23, 15, 0.65),
      rgba(47, 23, 15, 0.65)
    ),
    url(/img/rsz_mechanicbg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#left-box {
  float: left;
}
#middle-box {
  float: left;
}
#right-box {
  float: right;
}

#promotion-header {
  font-size: 1.5em;
  color: greenyellow;
  padding-top: 50px;
}

#jumbo-promo {
  color: white;
}

#form-id {
  padding-top: 40px;
}

.photo-size {
  width: 500px;
  height: 500px;
}
